* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 30px;
  text-align: center;
  background: #3282b8;
  color: white;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

progress{
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  float: right;
  width: 130px;
  height: 20px;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 20%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 80%;
  background-color: white;
  padding: 20px;
}
.main a {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  text-align: center;
}
.main a:hover {
  background-color: #AAA7A7;
  color: white;
}

/*Div from main*/
.formation {
  display: flex;
  flex-wrap: wrap;
}
.formationIcone {
  flex: 10%;
  padding: 5px;
}
.formationContent {
  padding: 5px;
  flex : 90%;
}

.experiencesPro {
  display: flex;
  flex-wrap: wrap;
}
.experiencesProIcone {
  flex: 10%;
  padding: 5px;
}
.experiencesProContent {
  padding: 5px;
  flex : 90%;
}

.experiencesPerso {
  display: flex;
  flex-wrap: wrap;
}
.experiencesPersoIcone {
  flex: 10%;
  padding: 5px;
}
.experiencesPersoContent {
  padding: 5px;
  flex : 90%;
}

/*Images*/
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.img {
  max-width: 100%;
  vertical-align: middle;
}
.imgPyPong {
  max-width: 100%;
}
.imgYodGame {
  max-width: 50%;
}

/* Footer */
.footer {
  padding: 2px;
  text-align: center;
  background: #333;
  color: white;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer h3 {
  color: white;
  text-align: center;
  font-size: 17px;
}
.footer a:hover {
  background-color: #AAA7A7;
  color: white;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}